/* =============
    Navigation
============= */
nav{
    ul{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        li{
            margin-left: 4vw;
            a:link, a:visited{
                
                &:hover, &:active{
                    
                }
            }
        }
    }
}